* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #262931;
    height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 610px;
    overflow: visible !important;
    --image-height: 460px;
}
.swiper-card {
    overflow: hidden;
    border-radius: 24px;
    background: white;
}

.swiper-card img {
    width: 100%;
    height: var(--image-height);
    object-fit: cover;
}

.card-content {
    gap: 1rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    padding: 37px 55px;
    border-radius: 24px;
}

.card-content h3 {
    font-size: 24px;
}

.card-content p {
    font-size: 16px;
}

.swiper-button-next, .swiper-button-prev {
    top: calc(var(--image-height) / 2) !important;
}